header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
    position: absolute;
}

header h1{
    font-size: 2.4em;
    text-transform: uppercase;
    color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header h1::after{
    content: "";
    display: block;
    width: 100%;
    border: 1px solid yellow;
}

.bar{
    height: 30px;
}
#check{
    display: none;
}
.checkbtn{
    display: flex;
    position: fixed;
    z-index: 3000;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    right: 0;
    padding: 0 2em;
}


nav ul{
    left: 100%;
    width: 100%;
    background-color: rgb(32, 32, 49);
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: all 2s;

}
nav ul li{
    display: block;
    margin: 2.8em 0;
    line-height: 2em;
    align-items: center;
}

.Link{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: all 2s;
    position: relative;
}

.activado{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: all 2s;
}

.activado::after{
    content: "";
    display: block;
    width: 100%;
    border: 1px solid white;
    position: absolute;
}



.Link::after{
    content: "";
    display: block;
    width: 100%;
    border: 1px solid white;
    position: absolute;
    transform: scaleX(0);
    transition: all .5s;
}

.Link:hover::after{
    transform: scaleX(1);
}
#check:checked  ~  .ulheaderActive{
    left: 0;
    width: 100%;
    background-color: rgb(32, 32, 49);
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: all 2s;
}








#check:checked  ~  .ulheader{
    left: 100%;
    width: 100%;
    background-color: rgb(32, 32, 49);
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: all 2s;
}











.posicionBotonwsp{
    display: flex;
    justify-content: start;
    margin-left: 3%;

}

.botonwsp{
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    font-size: 100%;
    background-color:rgb(69, 165, 69);
    color: white;
    z-index: 1000;
    cursor: pointer;
    transition: all 1s;
    margin-top: 85vh;
}

.botonwsp:hover{
    background-color: #fff;
    color: rgb(69, 165, 69);;
}


.iconowsp{
    font-size: 3em;
    margin-top: 15%;
}


.posicionBotonCarr{
    display: flex;
    justify-content: end;
    margin-right: 3%;
}

.BotonCarrito{
    display: flex;
    background-color: grey;
    position: fixed;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    margin-top: 85vh;
    align-items: center;
    justify-content: center;
    z-index: 1111;
    text-align: center;
    transition: all 1s;
    color: #000;
    cursor: pointer;
}
.BotonCarrito:hover{
    background: #000;
    color: grey;
}

.iconCar{
    font-size: 2.5em;
}

.Span{
    position: fixed;
    margin-top: 85vh;
    margin-left: 6em;
    background-color: red;
    height: 1.8em;
    width: 1.4em;
    z-index: 3000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.ContenedorPrincipalCart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    text-align: center;
    background-color: rgb(0,0,0,0.6);
    top:0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 3333;
}
.ContenedorCart{
    position: fixed;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width: 50%;
    min-width: 18em;
    border-radius: 3%;
    overflow-y: scroll;
    transition: all 0.3s linear;
    z-index: 5000;
    animation-name: volver;
    animation-duration: 1.5s;
    animation-timing-function: ease
}



@keyframes volver{
    from{
        transform: translateX(1000px);
    }

    to{
        transform: translateX(0px);
    }
}

.ContenedorPrincipalCart1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    text-align: center;
    background-color: rgb(0,0,0,0.6);
    top:0;
    left: 2200px;
    right: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    animation-name: traer;
    animation-duration: 4.5s;
    animation-timing-function: ease;
    z-index: 12121212;
}

.nulo{
    display: none;
}
.ContenedorCart1{
    position: fixed;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width: 50%;
    min-width: 18em;
    border-radius: 3%;
    overflow-y: scroll;
    transition: all 0.3s linear;
    z-index: 5000;
}


@keyframes traer{
    from{
        transform: translateX(-2200px);
    }

    to{
        transform: translateX(190px);
    }
}
.ContenedorCart1{
    position: fixed;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width: 50%;
    min-width: 18em;
    border-radius: 3%;
    overflow-y: scroll;
    transition: all 0.3s linear;
    z-index: 5000;
}
.CarritoH1{
    font-size: 2em;
    margin-bottom: 5%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.CarritoH1::after{
    content: "";
    display: inline-block;
    border: 1px solid black;
    width: 20%;
    position: absolute;
    margin-top: 40px;
}


.PosicionBotonSkip{
    display: flex;
    justify-content: flex-end;
}


.XCart{
    font-size: 1.5em;
}


.BtonExitCart{
    background-color: #f7f5f5;
    cursor: pointer;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 30%;
    padding: 1% 2%;
    transition: all 2s ease;
}



.BtonExitCart:hover{
    background: rgb(131, 7, 233);
    color: white;
}

.EliminarTodo{
    border-radius: 20%;
    padding: 1em 1em;
    margin-left: 2%;
    margin-top: 3%;
    cursor: pointer;
    transition: all 2s ease;
}

.EliminarTodo:hover{
    background: black;
    color: red;
}
.Trash{
    font-size: 2em;
}
.DivNohayCart{
    display: flex;
justify-content: center;
flex-direction: column;
align-items:center ;
height: 70vh;
}

.h1Volver{
    color: black;
    margin-bottom: 5%;
}

.LinkVolverNoCart{
    display: flex;
    width: 50%;
    height: 6%;
    background: rgb(223, 6, 53);
    cursor: pointer;
    transition: all 2s ease;
    text-decoration: none;
    text-align: center;
    color: black;
    justify-content: center;
    align-items: center;
}


.LinkVolverNoCart:hover{
    background-color: #000;
    color: white;
}

@media screen and (max-width:900px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 30vh;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 2.8em 0;
        line-height: 2em;
        align-items: center;
    }

    .Link{
        font-size: 1em;
    }

    .Link:hover{
        background: rgb(53, 51, 51);
        color: lightblue;
    }

    #check:checked  ~ ul{
        left: 0;
    }

    nav{
        position: absolute;
        height: 0;
    }
}