.footer{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 10em;
    width: 100%;
    display: flex;
    justify-content: center;
    
}


.redescontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.liFooter{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 9%;
}

.aFooter{
    padding: 0 3em;
    color: white;
    line-height: 2em;
    height: 1.2em;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}



.redescontainer li a:hover{
    transform: translateY(-5px) scale(1.54);
    filter: none;
}



.aFooter{
    margin-top: 2em;
}

