.DivContenedorCart{
    background-color: #868585ab;
}




.InicioBiblioteca{
    background: linear-gradient(rgba(0,0,0, 0.50) 0%, rgba(0,0,0, 0.50) 100%), url("https://media.revistagq.com/photos/5ef9e69d09f9a6fc5dffb0ed/master/pass/coleccion-coches-elon-musk.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.btonInicioBiblitoeca{
    padding: 1.5% 7%;
    border-radius: 2em;
    background: rgba(27, 27, 27, 0.52);
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
    color: white;
}

.btonInicioBiblitoeca:hover{
    background: #fff;
    color: #000;
}




.DivNohay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
    height: 50vh;
}



.DivNohay h1{
    color: white;
    margin-bottom: 1%;
}


.LinkVolverNo{
    display: flex;
    width: 20%;
    height: 6%;
    background: rgb(42, 238, 212);
    cursor: pointer;
    transition: all 2s ease;
    text-decoration: none;
    text-align: center;
    color: black;
    justify-content: center;
    align-items: center;
}

.LinkVolverNo:hover{
    background: #08eb26;
}
















