.IniciOfertas{
    background:linear-gradient(rgba(0,0,0, 0.50) 0%, rgba(0,0,0, 0.50) 100%), url("https://s1.1zoom.me/b5050/575/BMW_Tuning_4-Series_Black_Metallic_576020_1920x1080.jpg");
    font-size: 16px;
    height: 100vh;
    color: #FFF;
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: center;
    justify-content: center;
}



.LinkVer{
    padding: 1.5% 10%;
    border-radius: 1em;
    background: rgba(110, 110, 110, 0.92);
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: all 1s;
}

.LinkVer:hover{
    color: black;
    background: #ffffff33;
}

.DivOfertasInicio{
    margin-bottom: 20%;
}

.grid{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 97%;
    margin: auto;
    background-color: rgb(245, 68, 106);
    border-radius: 5em;
    align-items: center;
    border: 1px solid white;
    color: white;
    margin-bottom: -15%;
}

.tituloOferta{
    margin-bottom: 2%;
    margin-top: 5%;
}

.fotoGrid{
    width:100%;
    padding: 2em;
    height: 100%;
    border-radius: 4em;
}


.descripcionOfertas{
    margin-top: 1em;
    width: 90%;
    height: 40%;
}

.ModeloDescripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    
}

.PreciosYboton{
    display: grid;
    grid-template-columns: 40% 50%;
    width: 90%;
    margin: auto;
    align-items: center;
    font-size: 1.5em;
    justify-content: space-between;
}

.Precios{
    display: flex;
    flex-direction: column;
    background: rgb(53, 59, 56);
    padding: 5%;
    border-radius: 1em;
    width: 100%;
    text-align: center;
    margin-top: 12%;
    
}



.PrecioDeOferta{
    color: lightgreen;
    font-size: 100%;
}


.DivBotonOfertas{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
}

.botonOfertas{
    padding: 5%;
    margin-top: 12%;
    border-radius: 2em;
    font-size: 60%;
    cursor: pointer;
    transition: all 1s;
    width: 50%;
}

.botonOfertas2:hover,
.botonOfertas:hover{
    background-color: rgb(59, 55, 55);
    color: white;
}

.divButonsSiOnoOfertas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-bottom: 10%;
    margin-left: 25%;
}

.BtonOfertas1{
    padding: 2% 12%;
    cursor: pointer;
    text-align: center;
    align-items: center;
    border-radius: 1em;
    align-items: end;
    margin-top: 8%;
    transition: all 1s;
    background: rgba(1, 102, 9, 0.92);
    color: #FFF;
    text-decoration: none;
    margin-right: 30%;
}


.BtonOfertas1:hover{
    background: rgba(4, 167, 39, 0.733);
}


.BtonOfertas2{
    padding: 2% 15%;
    cursor: pointer;
    text-align: center;
    align-items: center;
    border-radius: 1em;
    align-items: end;
    margin-top: 8%;
    transition: all 1s;
    background: rgba(32, 32, 32, 0.92);
    color: #FFF;
    text-decoration: none;
}


.BtonOfertas2:hover{
    background: rgba(153, 151, 151, 0.877);
}

@media screen and (max-width:900px){
    .grid{
        display: flex;
        flex-direction: column;
    }
    .Precios{
        z-index: 3000;
    }

    .botonOfertas,
    .botonOfertas2{
        z-index: 3000;
    }
}



@media screen and (max-width:444px){
    .PreciosYboton{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .DivBotonOfertas{
        display: flex;
        flex-direction: row;
    }

    .botonOfertas{
        margin-top: 0%;
    }

    .DivBotonOfertas{
        display: flex;
        justify-content: center;
    }

    .divButonsSiOnoOfertas{
        margin-right: 25%;
    }
}