.IniciOfertas{
    background:linear-gradient(rgba(0,0,0, 0.50) 0%, rgba(0,0,0, 0.50) 100%), url("https://s1.1zoom.me/b5050/575/BMW_Tuning_4-Series_Black_Metallic_576020_1920x1080.jpg");
    font-size: 16px;
    height: 100vh;
    color: #FFF;
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: center;
    justify-content: center;
}



.LinkVer{
    padding: 1.5% 10%;
    border-radius: 1em;
    background: rgba(110, 110, 110, 0.92);
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: all 1s;
}

.LinkVer:hover{
    background: #ffffff33;
}
.DivOfertasInicio{
margin-bottom: 20%;
}

.PrecioYboton{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-top: 5%;
}


.DivBotonOfertas{
    display: flex;
    align-items: center;
    justify-content: center;
}


.Precios{
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}



.PrecioDeOferta{
    color: lightgreen;
    font-size: 100%;
}


.DivBotonOfertas{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.botonOfertas{
    display: flex;
    justify-content: center;
    margin-top: 12%;
    border-radius: 2em;
    padding: 1em 5em;
    cursor: pointer;
    transition: all 1s;
    width: 100%;
    margin: 0 50%;
    
}

.botonOfertas2:hover,
.botonOfertas:hover{
    background-color: rgb(59, 55, 55);
    color: white;
}

.divButonsSiOnoOfertas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-bottom: 10%;
    margin-left: 25%;
}

.BtonOfertas1{
    padding: 22% 52%;
    cursor: pointer;
    text-align: center;
    align-items: center;
    border-radius: 1em;
    align-items: end;
    margin-top: 8%;
    transition: all 1s;
    background: rgba(1, 102, 9, 0.92);
    color: #FFF;
    text-decoration: none;
    margin-right: 30%;
}


.BtonOfertas1:hover{
    background: rgba(4, 167, 39, 0.733);
}


.BtonOfertas2{
    padding: 22% 55%;
    cursor: pointer;
    text-align: center;
    align-items: center;
    border-radius: 1em;
    align-items: end;
    margin-top: 8%;
    transition: all 1s;
    background: rgba(32, 32, 32, 0.92);
    color: #FFF;
    text-decoration: none;
}


.BtonOfertas2:hover{
    background: rgba(153, 151, 151, 0.877);
}


.posicionBotones{
    margin-top: 2em
}