
.Carousel{
    width: 90%;
    padding: 20px 0;
    margin-left: 2em;
}
.ContenedorCarousel{
    display: flex;
    flex-direction: row;
}

.PrecioIndex{
    font-weight: 100;
    font-size: 2.75em;
    margin-right: 1em;
}

.FotosIndex{
    font-size: 6em;
    min-height: 1em;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.VersionSteam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.TituloIndexAutos{
    margin-bottom: 2em;
    font-weight: 600;
}

.DescripcionIndex{
    max-width: 70%;
    line-height: 2em;
    font-weight: 400;
    font-size: 1.2em;
}

.boton{
    display: flex;
    padding: 1.25em 1em;
    max-width: 30%;
    font-size: 1em;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(202, 194, 194);
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}

.boton:hover{
    background-color: rgb(75, 69, 69);
    color: #fff;
}

.FotoSombra{
    background-size: cover;
    box-shadow: 6px 1px 5px 0px rgba(63, 54, 54, 0.75);
    z-index: 100;
}

.PrecioYboton{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 2em;
    align-items: end;
}



.divSteam{
    display: flex;
    background-color: #fff;
    color: black;
    justify-content: center;
    align-items: center;
    max-width: 44em;
}


/*--MEDIA QUERIS--*/

@media screen and (max-width:900px){
    .ContenedorCarousel{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divSteam{
        margin-top: 1em;
    }

    .TituloIndexAutos{
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .PrecioYboton{
        margin-top: 1.2em;
        margin-bottom: 2em;
    }

}