
.Carousel{
    width: 90%;
    padding: 20px 0;
    margin-left: 2em;
    margin-bottom: 5%;
}
.ContenedorCarousel{
    display: flex;
    flex-direction: row;
}

.PrecioIndex{
    font-weight: 80;
    font-size: 2.5em;
    margin-right: 1em;
}

.FotosIndex{
    font-size: 6em;
    min-height: 1em;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.VersionSteam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.TituloAutos{
    margin-bottom: 2em;
    font-weight: 600;
    color: black;
}

.DescripcionIndex{
    max-width: 70%;
    line-height: 2em;
    font-weight: 400;
    font-size: 1.0em;
}



.FotoSombra{
    background-size: cover;
    box-shadow: 6px 1px 5px 0px rgba(63, 54, 54, 0.75);
}


.PrecioYboton{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 2em;
    align-items: end;
}



.divSteam{
    display: flex;
    background-color: #ffffff7a;
    color: black;
    justify-content: center;
    align-items: center;
    max-width: 44em;
}


.LinkMap{
    text-decoration: none;
    display: flex;
    padding: 1.25em 1em;
    max-width: 30%;
    font-size: 1em;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 194, 194);
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    color: black;
    transition: all 1s;
}


.LinkMap:hover{
    background-color: rgb(75, 69, 69);
    color: #fff;
}

/*--MEDIA QUERIS--*/

@media screen and (max-width:900px){
    .ContenedorCarousel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .divSteam{
        margin-top: 1em;
    }

    .TituloIndexAutos{
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .PrecioYboton{
        margin-top: 1.2em;
        margin-bottom: 2em;
    }

    .Carousel{
        margin-left: 1em;
    }


}


@media screen and (max-width:410px){
    .PrecioYboton{
        display: flex;
        flex-direction: column;
        margin-right: 20%;
    }


    .LinkMap{
        padding: 1em 8em;
    }
}