
.contenedor{
    margin: 0;
    padding: 0;
    max-width: 90%;
}

.contenedorAutos{
    background:linear-gradient(rgba(0,0,0, 0.50) 0%, rgba(0,0,0, 0.50) 100%), url("https://wallpaperaccess.com/full/867516.jpg");
    font-size: 16px;
    height: 100vh;
    color: #FFF;
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}


.contenedorAutos .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}
.contenedorAutos .contenedor .tituloAutoPrinc{
    font-weight: 100;
    flex-direction: row;
    font-size: 3.75em;
}

.contenedorAutos .contenedor .DescripcionPrinc{
    max-width: 50%;
    font-size: 1em;
    margin: 0 auto;
    line-height: 1.75em;
    margin-left: 5.2em;
    margin-top: 1em;
}

.contenedorAutos .botonPric{
    border: none;
    margin: 0;
    max-width: 90%;
    margin: auto;
    margin-bottom: 7em;
    padding: 1.25em 2em;
    background:rgba(110, 110, 110, 0.52);
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    margin-top: 2em;
    font-size: 1em;
    cursor: pointer;
    transition: all 1s;
}


.contenedorAutos .botonPric:hover{
    background: #FFF;
    color: #000;
}


.h1Inicio{
    color: white;
    position: relative;
    font-size: 3em;
    animation-name: h;
    animation-duration: 2s;
    animation-delay: 1s;
}


.h1Inicio::after{
    content: "";
    width: 100%;
    border: 1px solid white;
    display: block;
    position:absolute;
    animation-name: h;
    animation-duration: 2s;
    animation-delay: 1s;
}

.divAn{
    display: flex;
    margin: 0 2em;
    margin-bottom:2% ;
}


.aInicio{
    text-decoration: none;
    color: white;
}


.aInicio:hover{
    color: black;
}
@keyframes h {
    from{
        transform: translatex(600px);
    }

    to{
        transform: translatex(0);
    }
}



@media screen and (max-width:600px) {
    .contenedorAutos .contenedor .DescripcionPrinc{
    max-width: 100%;
    margin-left: 0em;
    margin-bottom: 10%;
    }

    .contenedorAutos .contenedor{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    .tituloAutoPrinc{
        margin-bottom: 10%;
    }
}


